.App {
  text-align: center;
  padding: 40px;
  border-radius: 4px;
  border: 1px solid #60316E;
  background-color: #CFCBF1;
  box-shadow: 0 0 6px 1px #60316E;
  max-width: 600px;
  max-height: 600px;
  margin: 0px auto;
  margin-top: 40px;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #E1FECE;
  border: 1px solid rgba(78, 15, 80, 0.89);
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(117, 22, 121, 0.89);
  text-align: center;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

