.Weather {
 display: block;
}

.WeatherInfoContainer {
  display: block;
  border-radius: 4px;
  border: 1px solid #60316E;
  background-color: #E1FECE;
  box-shadow: 0 0 7px 1px #60316E;
}

.Weather form {
  margin-left: 80px;
  margin-right: 60px;
  max-width: 600px;
  max-height: 400px;
  padding: 20px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  margin: 5px;
  transition: all 20ms ease-in-out;
}

input[type=search] {
  height: 38px;
  padding: 10px;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid rgba(103, 24, 155, 0.753);
  box-shadow: 0 0 6px 1px #60316E;
}


.btn-outline-dark {
  border: 1px solid #60316E;
  margin: 8px;
}

.btn-outline-dark:hover {
  border: 1px solid #60316E;
  box-shadow: 0 0 6px 1px #60316E;
  background-color:  #E1FECE;
}

h2 {
  font-family: 'Poiret One', cursive;
  margin: 0px auto;
  padding-top: 30px;
  font-size: 55px;
  font-weight: bold;
}

h3 {
  font-size: 55px;
}


ul {
  list-style: none;
  padding: 5px;

}

li {
  font-size: 18px;
}

.units {
  font-size: 20px;
  position: relative;
  top: -18px;
}

.icon {
margin-top: 40px;
}

