.Weather {
  margin-left: 40px;
}

.WeatherInfoContainer {
  border-radius: 4px;
  border: 1px solid #550963;
  background-color: rgba(173, 247, 209, 0.616);
  box-shadow: 0 0 6px 1px #8971D0;
  margin-left: 20px;
  margin-right: 50px;
}

.Weather form {
  margin-left: 60px;
  margin-right: 60px;
  max-width: 600px;
  max-height: 400px;
  padding: 20px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  margin: 5px;
}

input[type=search] {
  height: 38px;
  padding: 10px;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 0 0 8px 2px rgba(135, 54, 173, 0.459);
}


.btn-outline-dark {
  border: 1px solid purple;
  margin: 8px;
}

.btn-outline-dark:hover {
  border: 1px solid purple;
  background-color: white;
}

h2 {
  margin: 0px auto;
  padding-top: 30px;
  font-size: 38px;
  font-weight: lighter;
}

h3 {
  font-size: 48px;
}


ul {
  list-style: none;
  padding: 0px;
}

.units {
  font-size: 20px;
  position: relative;
  top: -18px;
}

.icon {
  margin-top: 25px;
}

